.container {
    max-width: 1920px;
    max-height: 1080px;
}

@keyframes animate {
    0% {
        opacity:0;
        transform: translateX(-100%);
    }
    100% {
        opacity:1;
        transform: translateX(0);
    }
}

.topBar {
    background-color: black;
    height: 6.4%;
    margin: -0.8vw -0.5vw -0.9vw -0.85vw;
    opacity: 65%;
    width: 100vw;
    position: fixed;
    overflow: hidden;
    z-index: 1;
}

.TL {
    color: white;
    text-decoration: overline;
    margin: 0.38vw 1.35vw;
    display: inline;
    position: absolute;
    left: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: none;
    font-size: 1.5vw;
}

.aboutMe {
    color: white;
    text-decoration: overline;
    margin: 0.38vw 0.7vw;
    display: inline;
    position: absolute;
    left: 74%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: none;
    font-size: 1.5vw;
}
.hobbies {
    color: white;
    text-decoration: overline;
    margin: 0.38vw 0.7vw;
    display: inline;
    position: absolute;
    left: 83%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: none;
    font-size: 1.5vw;
}

.webpages {
    color: white;
    text-decoration: overline;
    margin: 0.38vw 0.5vw;
    display: inline;
    position: absolute;
    left: 91%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: none;
    font-size: 1.5vw;
}

.imagecontainer {
    height: 79.95%;
    width: 60%;
    position: absolute;
    left: 21.25%;
    text-align: center;
    vertical-align: middle;
}

.imagecontainer2 {
    height: 30%;
    width: 30%;
    position: absolute;
    left: 36.5%;
    top: 56.5%;
    background-color: white;
    opacity: 65%;
    border-radius: 1vw;
}

.imageText3 {
    top: 10%;
    position: relative;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 1.2vw;
    color: black;
    opacity: 100%;
    background: none;
    font-weight: 500;
    animation: animate 4s ease forwards;
}

.imageText2 {
    top: 10%;
    position: relative;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
    color: black;
    opacity: 100%;
    background: none;
    font-weight: 520;
    animation: animate 4s ease forwards;
}

.imageText {
    top: 22%;
    text-align: center;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3.8vw;
    color: black;
    opacity: 60%;
    background: none;
    animation: animate 2s ease forwards;
}

.hobbiesTitle {
    position: absolute;
    top: 87.5%;
    left: 45.5%;
    font-size: 3.2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: none;
}

.item1 {
    position: absolute;
    top: 100%;
    left: 23%;
    font-size: 2.3vw;
    font-family: monospace;
    background: none;
}

.item2 {
    position: absolute;
    top: 110%;
    left: 48%;
    font-size: 2.3vw;
    font-family: monospace;
    background: none;
}

.item3 {
    position: absolute;
    top: 120%;
    left: 46.5%;
    font-size: 2.3vw;
    font-family: monospace;
    background: none;
}

.item4 {
    position: absolute;
    top: 130%;
    left: 46.5%;
    font-size: 2.3vw;
    font-family: monospace;
    background: none;
}

.item5 {
    position: absolute;
    top: 140%;
    left: 46.5%;
    font-size: 2.3vw;
    font-family: monospace;
    background: none;
}

.webpagesTitle {
    position: absolute;
    top: 157%;
    left: 41%;
    font-size: 3.2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: none;
}

* {
    background-color: rebeccapurple;
}

#menu-container {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
