@keyframes animateX {
    0% {
        opacity:0;
        transform: translateX(-100%);
    }
    100% {
        opacity:1;
        transform: translateX(0);
    }
}

@keyframes animateY {
    0% {
        opacity:0;
        transform: translateY(-100%);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}

@keyframes animateHover {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.topBar {
    background-color: black;
    height: 6.4%;
    margin: -0.8vw -0.5vw -0.9vw -0.85vw;
    opacity: 65%;
    width: 100vw;
    position: fixed;
    overflow: hidden;
    z-index: 1;
}

.TL {
    color: white;
    text-decoration: overline;
    margin: -0.3vw 1.35vw;
    display: inline;
    position: absolute;
    left: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: none;
    font-size: 1.5vw;
}

.aboutMe {
    color: white;
    text-decoration: overline;
    margin: -0.3vw 0.7vw;
    display: inline;
    position: absolute;
    left: 74%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: none;
    font-size: 1.5vw;
}
.hobbies {
    color: white;
    text-decoration: overline;
    margin: -0.3vw 0.7vw;
    display: inline;
    position: absolute;
    left: 83%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: none;
    font-size: 1.5vw;
}

.webpages {
    color: white;
    text-decoration: overline;
    margin: -0.3vw 0.5vw;
    display: inline;
    position: absolute;
    left: 91%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: none;
    font-size: 1.5vw;
}

.homeLink {
    color: white;
    text-decoration: none;
    background: none;
}

.aboutMeLink {
    color: white;
    text-decoration: none;
    background: none;
}

.hobbiesLink {
    color: white;
    text-decoration: none;
    background: none;
}

.webpagesLink {
    color: white;
    text-decoration: none;
    background: none;
}

.welcomeImageProp {
    height: 32%;
    width: auto;
    position: absolute;
    margin-top: 8.5%;
    margin-left: 2%;
}

.imagecontainer {
    height: 79.95%;
    width: 60%;
    position: absolute;
    left: 21.25%;
    text-align: center;
    vertical-align: middle;
}

.imagecontainer2 {
    height: 30%;
    width: 30%;
    position: absolute;
    left: 36.5%;
    top: 56.5%;
    background-color: white;
    opacity: 65%;
    border-radius: 1vw;
}

.imageText3 {
    margin-top: 10%;
    position: relative;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 1.2vw;
    color: black;
    opacity: 100%;
    background: none;
    font-weight: 500;
    animation: animateX 3s ease forwards;
}

.imageText2 {
    margin-top: 10%;
    position: relative;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
    color: black;
    opacity: 100%;
    background: none;
    font-weight: 520;
    animation: animateX 3s ease forwards;
}

.imageText {
    margin-top: 20%;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    font-size: 3.8vw;
    color: white;
    opacity: 60%;
    background: none;
    animation: animateY 2s ease forwards;
}

.aboutMeContainer {
    display: inline-block;
    margin-top: 45%;
    margin-left: 1%;
    text-align:left;
    box-shadow: 0 0 20px 1px black;
    position: relative;
    overflow: hidden;
    font-size:1.1vw;
    color: black;
    opacity: 95%;
    background: none;
}

.hobbiesArea {
    display: inline-block;
    margin-left: 1%;
    text-align: left;
    box-shadow: 0 0 20px 1px black;
    position: relative;
    overflow: hidden;
    font-size: 1.1vw;
    color: black;
    opacity: 95%;
    background: none;
}

.webpagesArea {
    display: inline-block;
    margin-left: 1%;
    text-align: left;
    box-shadow: 0 0 20px 1px black;
    position: relative;
    overflow: hidden;
    font-size: 1.1vw;
    color: black;
    opacity: 95%;
    background: none;
}

* {
    background-color: lightsteelblue;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: 'Gayathri', sans-serif;
}

#menu-container {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
